# ==================================
# GIT
# ==================================
.git/
.gitignore

# ==================================
# PYTHON ENVIRONMENT
# ==================================
venv/
.venv/
env/
ENV/
*.env        # ⛔ Jangan pernah include file .env ke dalam image

# ==================================
# PYTHON CACHE
# ==================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================
# DJANGO FILES
# ==================================
db.sqlite3
*.sqlite3
media/              # kalau pakai Cloudinary / external storage
staticfiles/        # biar gak ke-copy kalau collectstatic udah dihandle waktu build
*.log               # log files

# ==================================
# OS / SYSTEM FILES
# ==================================
.DS_Store
Thumbs.db

# ==================================
# EDITOR / IDE
# ==================================
.idea/
.vscode/
*.code-workspace

# ==================================
# BUILD / DEPLOYMENT
# ==================================
__dist__/
build/
node_modules/
*.bak
*.tmp
